xsd/cxxAPIMap.mod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================= -->
<!-- HEADER -->
<!-- ================================================================= -->
<!-- MODULE:    C++ Map DTD -->
<!-- VERSION:   0.7.0 -->
<!-- DATE:      2011-02-28 -->
<!---->
<!-- ================================================================= -->
<!-- ================================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!---->
<!--
  Refer to this file by the following public identifier or an 
        appropriate system identifier 
  PUBLIC "-//NOKIA//DTD DITA C++ API Map Reference Type v0.7.0//EN"
        Delivered as file "dtd/cxxAPIMap.dtd"
-->
<!-- ================================================================= -->
<!-- SYSTEM:     Darwin Information Typing Architecture (DITA) -->
<!---->
<!-- PURPOSE:    C++ API Reference DITA Map -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- November 2009 -->
<!---->
<!-- Copyright (c) 2009-2011 Nokia Corporation and/or its subsidiary(-ies). -->
<!-- All rights reserved. -->
<!---->
<!-- Change History (latest at top): -->
<!-- +++++++++++++++++++++++++++++++ -->
<!-- 2011-02-28 Nokia Sysdoc Tools Team, London: Updated to version 0.7.0 -->
<!-- 2010-11-30 PaulRoss: Added namespaces. -->
<!-- 2010-05-14 PaulRoss: Fixed templates. -->
<!-- 2010-02-16 VOG: Updated. -->
<!-- 2010-02-10 PaulRoss: Updated. -->
<!-- 2009-11-16 PaulRoss: Initial design. -->
<!---->
<!-- ================================================================= -->
<!--
  Copyright (c) 2009-2010 Nokia Corporation and/or its subsidiary(-ies).
  All rights reserved.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:ditaarch="http://dita.oasis-open.org/architecture/2005/">
  <xs:import namespace="http://dita.oasis-open.org/architecture/2005/" schemaLocation="../../../schema/base/xsd/ditaarch.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="../../../schema/base/xsd/xml.xsd"/>
  <xs:group name="cxxFileRef">
    <xs:sequence>
      <xs:element ref="cxxFileRef"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxClassRef">
    <xs:sequence>
      <xs:element ref="cxxClassRef"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxStructRef">
    <xs:sequence>
      <xs:element ref="cxxStructRef"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxUnionRef">
    <xs:sequence>
      <xs:element ref="cxxUnionRef"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxNamespaceRef">
    <xs:sequence>
      <xs:element ref="cxxNamespaceRef"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxDefineRef">
    <xs:sequence>
      <xs:element ref="cxxDefineRef"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFunctionRef">
    <xs:sequence>
      <xs:element ref="cxxFunctionRef"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxTypedefRef">
    <xs:sequence>
      <xs:element ref="cxxTypedefRef"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxVariableRef">
    <xs:sequence>
      <xs:element ref="cxxVariableRef"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxEnumerationRef">
    <xs:sequence>
      <xs:element ref="cxxEnumerationRef"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="cxxAPIMap">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" ref="topicmeta"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="topicref"/>
          <xs:group ref="cxxFileRef"/>
          <xs:group ref="cxxClassRef"/>
          <xs:group ref="cxxStructRef"/>
          <xs:group ref="cxxUnionRef"/>
          <xs:group ref="cxxNamespaceRef"/>
        </xs:choice>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="reltable"/>
      </xs:sequence>
      <xs:attribute name="title"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="anchorref"/>
      <xs:attributeGroup ref="topicref-atts"/>
      <xs:attributeGroup ref="select-atts"/>
      <xs:attribute name="translate">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="xml:lang"/>
      <xs:attributeGroup ref="arch-atts"/>
      <xs:attribute name="domains" default="(map mapgroup-d)"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- map/map apiMap/apiMap cxxAPIMap/cxxAPIMap "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFileRef">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" ref="topicmeta"/>
        <xs:group minOccurs="0" ref="cxxDefineRef"/>
        <xs:group minOccurs="0" ref="cxxEnumerationRef"/>
        <xs:group minOccurs="0" ref="cxxFunctionRef"/>
        <xs:group minOccurs="0" ref="cxxTypedefRef"/>
        <xs:group minOccurs="0" ref="cxxVariableRef"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="topicref"/>
      </xs:sequence>
      <xs:attribute name="navtitle"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="href"/>
      <xs:attribute name="keyref"/>
      <xs:attribute name="query"/>
      <xs:attribute name="conref"/>
      <xs:attribute name="copy-to"/>
      <xs:attribute name="collection-type">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="choice"/>
            <xs:enumeration value="unordered"/>
            <xs:enumeration value="sequence"/>
            <xs:enumeration value="family"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type" default="cxxFile"/>
      <xs:attribute name="scope">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="local"/>
            <xs:enumeration value="peer"/>
            <xs:enumeration value="external"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="locktitle">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="format"/>
      <xs:attribute name="linking">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="targetonly"/>
            <xs:enumeration value="sourceonly"/>
            <xs:enumeration value="normal"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="toc">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="print">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="search">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="chunk"/>
      <xs:attributeGroup ref="select-atts"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- map/topicref apiMap/apiItemRef cxxAPIMap/cxxFileRef "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxClassRef">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" ref="topicmeta"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="cxxClassRef"/>
          <xs:group ref="cxxStructRef"/>
          <xs:group ref="cxxUnionRef"/>
        </xs:choice>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="topicref"/>
      </xs:sequence>
      <xs:attribute name="navtitle"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="href"/>
      <xs:attribute name="keyref"/>
      <xs:attribute name="query"/>
      <xs:attribute name="conref"/>
      <xs:attribute name="copy-to"/>
      <xs:attribute name="collection-type">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="choice"/>
            <xs:enumeration value="unordered"/>
            <xs:enumeration value="sequence"/>
            <xs:enumeration value="family"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type" default="cxxClass"/>
      <xs:attribute name="scope">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="local"/>
            <xs:enumeration value="peer"/>
            <xs:enumeration value="external"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="locktitle">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="format"/>
      <xs:attribute name="linking">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="targetonly"/>
            <xs:enumeration value="sourceonly"/>
            <xs:enumeration value="normal"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="toc">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="print">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="search">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="chunk"/>
      <xs:attributeGroup ref="select-atts"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- map/topicref apiMap/apiItemRef cxxAPIMap/cxxClassRef "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxStructRef">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" ref="topicmeta"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="cxxClassRef"/>
          <xs:group ref="cxxStructRef"/>
          <xs:group ref="cxxUnionRef"/>
        </xs:choice>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="topicref"/>
      </xs:sequence>
      <xs:attribute name="navtitle"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="href"/>
      <xs:attribute name="keyref"/>
      <xs:attribute name="query"/>
      <xs:attribute name="conref"/>
      <xs:attribute name="copy-to"/>
      <xs:attribute name="collection-type">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="choice"/>
            <xs:enumeration value="unordered"/>
            <xs:enumeration value="sequence"/>
            <xs:enumeration value="family"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type" default="cxxStruct"/>
      <xs:attribute name="scope">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="local"/>
            <xs:enumeration value="peer"/>
            <xs:enumeration value="external"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="locktitle">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="format"/>
      <xs:attribute name="linking">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="targetonly"/>
            <xs:enumeration value="sourceonly"/>
            <xs:enumeration value="normal"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="toc">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="print">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="search">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="chunk"/>
      <xs:attributeGroup ref="select-atts"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- map/topicref apiMap/apiItemRef cxxAPIMap/cxxStructRef "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxUnionRef">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" ref="topicmeta"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="cxxClassRef"/>
          <xs:group ref="cxxStructRef"/>
          <xs:group ref="cxxUnionRef"/>
        </xs:choice>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="topicref"/>
      </xs:sequence>
      <xs:attribute name="navtitle"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="href"/>
      <xs:attribute name="keyref"/>
      <xs:attribute name="query"/>
      <xs:attribute name="conref"/>
      <xs:attribute name="copy-to"/>
      <xs:attribute name="collection-type">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="choice"/>
            <xs:enumeration value="unordered"/>
            <xs:enumeration value="sequence"/>
            <xs:enumeration value="family"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type" default="cxxUnion"/>
      <xs:attribute name="scope">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="local"/>
            <xs:enumeration value="peer"/>
            <xs:enumeration value="external"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="locktitle">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="format"/>
      <xs:attribute name="linking">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="targetonly"/>
            <xs:enumeration value="sourceonly"/>
            <xs:enumeration value="normal"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="toc">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="print">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="search">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="chunk"/>
      <xs:attributeGroup ref="select-atts"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- map/topicref apiMap/apiItemRef cxxAPIMap/cxxUnionRef "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxNamespaceRef">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" ref="topicmeta"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="cxxNamespaceRef"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="topicref"/>
      </xs:sequence>
      <xs:attribute name="navtitle"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="href"/>
      <xs:attribute name="keyref"/>
      <xs:attribute name="query"/>
      <xs:attribute name="conref"/>
      <xs:attribute name="copy-to"/>
      <xs:attribute name="collection-type">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="choice"/>
            <xs:enumeration value="unordered"/>
            <xs:enumeration value="sequence"/>
            <xs:enumeration value="family"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type" default="cxxUnion"/>
      <xs:attribute name="scope">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="local"/>
            <xs:enumeration value="peer"/>
            <xs:enumeration value="external"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="locktitle">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="format"/>
      <xs:attribute name="linking">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="targetonly"/>
            <xs:enumeration value="sourceonly"/>
            <xs:enumeration value="normal"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="toc">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="print">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="search">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="chunk"/>
      <xs:attributeGroup ref="select-atts"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- map/topicref apiMap/apiItemRef cxxAPIMap/cxxNamespaceRef "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFunctionRef">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" ref="topicmeta"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="topicref"/>
      </xs:sequence>
      <xs:attribute name="navtitle"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="href"/>
      <xs:attribute name="keyref"/>
      <xs:attribute name="query"/>
      <xs:attribute name="conref"/>
      <xs:attribute name="copy-to"/>
      <xs:attribute name="collection-type">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="choice"/>
            <xs:enumeration value="unordered"/>
            <xs:enumeration value="sequence"/>
            <xs:enumeration value="family"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type" default="cxxFunction"/>
      <xs:attribute name="scope">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="local"/>
            <xs:enumeration value="peer"/>
            <xs:enumeration value="external"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="locktitle">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="format"/>
      <xs:attribute name="linking">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="targetonly"/>
            <xs:enumeration value="sourceonly"/>
            <xs:enumeration value="normal"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="toc">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="print">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="search">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="chunk"/>
      <xs:attributeGroup ref="select-atts"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- map/topicref apiMap/apiItemRef cxxAPIMap/cxxFunctionRef "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxVariableRef">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" ref="topicmeta"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="topicref"/>
      </xs:sequence>
      <xs:attribute name="navtitle"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="href"/>
      <xs:attribute name="keyref"/>
      <xs:attribute name="query"/>
      <xs:attribute name="conref"/>
      <xs:attribute name="copy-to"/>
      <xs:attribute name="collection-type">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="choice"/>
            <xs:enumeration value="unordered"/>
            <xs:enumeration value="sequence"/>
            <xs:enumeration value="family"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type" default="cxxVariable"/>
      <xs:attribute name="scope">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="local"/>
            <xs:enumeration value="peer"/>
            <xs:enumeration value="external"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="locktitle">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="format"/>
      <xs:attribute name="linking">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="targetonly"/>
            <xs:enumeration value="sourceonly"/>
            <xs:enumeration value="normal"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="toc">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="print">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="search">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="chunk"/>
      <xs:attributeGroup ref="select-atts"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- map/topicref apiMap/apiItemRef cxxAPIMap/cxxVariableRef "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxDefineRef">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" ref="topicmeta"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="topicref"/>
      </xs:sequence>
      <xs:attribute name="navtitle"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="href"/>
      <xs:attribute name="keyref"/>
      <xs:attribute name="query"/>
      <xs:attribute name="conref"/>
      <xs:attribute name="copy-to"/>
      <xs:attribute name="collection-type">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="choice"/>
            <xs:enumeration value="unordered"/>
            <xs:enumeration value="sequence"/>
            <xs:enumeration value="family"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type" default="cxxDefine"/>
      <xs:attribute name="scope">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="local"/>
            <xs:enumeration value="peer"/>
            <xs:enumeration value="external"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="locktitle">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="format"/>
      <xs:attribute name="linking">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="targetonly"/>
            <xs:enumeration value="sourceonly"/>
            <xs:enumeration value="normal"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="toc">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="print">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="search">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="chunk"/>
      <xs:attributeGroup ref="select-atts"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- map/topicref apiMap/apiItemRef cxxAPIMap/cxxDefineRef "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxEnumerationRef">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" ref="topicmeta"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="topicref"/>
      </xs:sequence>
      <xs:attribute name="navtitle"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="href"/>
      <xs:attribute name="keyref"/>
      <xs:attribute name="query"/>
      <xs:attribute name="conref"/>
      <xs:attribute name="copy-to"/>
      <xs:attribute name="collection-type">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="choice"/>
            <xs:enumeration value="unordered"/>
            <xs:enumeration value="sequence"/>
            <xs:enumeration value="family"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type" default="cxxEnumerator"/>
      <xs:attribute name="scope">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="local"/>
            <xs:enumeration value="peer"/>
            <xs:enumeration value="external"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="locktitle">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="format"/>
      <xs:attribute name="linking">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="targetonly"/>
            <xs:enumeration value="sourceonly"/>
            <xs:enumeration value="normal"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="toc">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="print">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="search">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="chunk"/>
      <xs:attributeGroup ref="select-atts"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- map/topicref apiMap/apiItemRef cxxAPIMap/cxxEnumerationRef "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxTypedefRef">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" ref="topicmeta"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="topicref"/>
      </xs:sequence>
      <xs:attribute name="navtitle"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="href"/>
      <xs:attribute name="keyref"/>
      <xs:attribute name="query"/>
      <xs:attribute name="conref"/>
      <xs:attribute name="copy-to"/>
      <xs:attribute name="collection-type">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="choice"/>
            <xs:enumeration value="unordered"/>
            <xs:enumeration value="sequence"/>
            <xs:enumeration value="family"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type" default="cxxTypedef"/>
      <xs:attribute name="scope">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="local"/>
            <xs:enumeration value="peer"/>
            <xs:enumeration value="external"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="locktitle">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="format"/>
      <xs:attribute name="linking">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="targetonly"/>
            <xs:enumeration value="sourceonly"/>
            <xs:enumeration value="normal"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="toc">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="print">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="search">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="chunk"/>
      <xs:attributeGroup ref="select-atts"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- map/topicref apiMap/apiItemRef cxxAPIMap/cxxTypedefRef "/>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- ============ Class attributes for type ancestry ============ -->
