xsd/cxxFriend.mod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================= -->
<!-- HEADER -->
<!-- ================================================================= -->
<!-- MODULE:    C++ Friend DTD -->
<!-- VERSION:   0.7.0 -->
<!-- DATE:      2011-02-28 -->
<!---->
<!-- ================================================================= -->
<!-- ================================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!---->
<!--
  Refer to this file by the following public identifier or an 
        appropriate system identifier 
  PUBLIC "-//NOKIA//DTD DITA C++ API Function Reference Type v0.7.0//EN"
        Delivered as file "cxxFriend.dtd"
-->
<!-- ================================================================= -->
<!-- SYSTEM:     Darwin Information Typing Architecture (DITA) -->
<!---->
<!-- PURPOSE:    C++ API Reference for Friends -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- Februrary 2011 -->
<!---->
<!-- Copyright (c) 2009-2011 Nokia Corporation and/or its subsidiary(-ies). -->
<!-- All rights reserved. -->
<!---->
<!-- Change History (latest at top): -->
<!-- +++++++++++++++++++++++++++++++ -->
<!-- 2011-02-28 Nokia Sysdoc Tools Team, London: Updated to version 0.7.0 -->
<!-- 2011-02-22 PaulRoss: Initial design. -->
<!---->
<!-- ================================================================= -->
<!--
  Copyright (c) 2009-2011 Nokia Corporation and/or its subsidiary(-ies).
  All rights reserved.
-->
<!-- ============ Hooks for domain extension ============ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:ditaarch="http://dita.oasis-open.org/architecture/2005/">
  <xs:import namespace="http://dita.oasis-open.org/architecture/2005/" schemaLocation="../../../schema/base/xsd/ditaarch.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="../../../schema/base/xsd/xml.xsd"/>
  <xs:group name="cxxFriendDetail">
    <xs:sequence>
      <xs:element ref="cxxFriendDetail"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendDefinition">
    <xs:sequence>
      <xs:element ref="cxxFriendDefinition"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendDeclaredType">
    <xs:sequence>
      <xs:element ref="cxxFriendDeclaredType"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendReturnDesc">
    <xs:sequence>
      <xs:element ref="cxxFriendReturnDesc"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendScopedName">
    <xs:sequence>
      <xs:element ref="cxxFriendScopedName"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendPrototype">
    <xs:sequence>
      <xs:element ref="cxxFriendPrototype"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendNameLookup">
    <xs:sequence>
      <xs:element ref="cxxFriendNameLookup"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendExceptionSpecification">
    <xs:sequence>
      <xs:element ref="cxxFriendExceptionSpecification"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendReimplemented">
    <xs:sequence>
      <xs:element ref="cxxFriendReimplemented"/>
    </xs:sequence>
  </xs:group>
  <!-- Parameters -->
  <xs:group name="cxxFriendParameters">
    <xs:sequence>
      <xs:element ref="cxxFriendParameters"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendParameter">
    <xs:sequence>
      <xs:element ref="cxxFriendParameter"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendParameterDeclaredType">
    <xs:sequence>
      <xs:element ref="cxxFriendParameterDeclaredType"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendParameterDeclarationName">
    <xs:sequence>
      <xs:element ref="cxxFriendParameterDeclarationName"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendParameterDefinitionName">
    <xs:sequence>
      <xs:element ref="cxxFriendParameterDefinitionName"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendParameterDefaultValue">
    <xs:sequence>
      <xs:element ref="cxxFriendParameterDefaultValue"/>
    </xs:sequence>
  </xs:group>
  <!-- Storage class specifiers and other qualifiers. -->
  <xs:group name="cxxFriendStorageClassSpecifierExtern">
    <xs:sequence>
      <xs:element ref="cxxFriendStorageClassSpecifierExtern"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendStorageClassSpecifierStatic">
    <xs:sequence>
      <xs:element ref="cxxFriendStorageClassSpecifierStatic"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendStorageClassSpecifierMutable">
    <xs:sequence>
      <xs:element ref="cxxFriendStorageClassSpecifierMutable"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendExplicit">
    <xs:sequence>
      <xs:element ref="cxxFriendExplicit"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendInline">
    <xs:sequence>
      <xs:element ref="cxxFriendInline"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendVirtual">
    <xs:sequence>
      <xs:element ref="cxxFriendVirtual"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendPureVirtual">
    <xs:sequence>
      <xs:element ref="cxxFriendPureVirtual"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendConstructor">
    <xs:sequence>
      <xs:element ref="cxxFriendConstructor"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendDestructor">
    <xs:sequence>
      <xs:element ref="cxxFriendDestructor"/>
    </xs:sequence>
  </xs:group>
  <!-- Location information -->
  <xs:group name="cxxFriendAPIItemLocation">
    <xs:sequence>
      <xs:element ref="cxxFriendAPIItemLocation"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendDeclarationFile">
    <xs:sequence>
      <xs:element ref="cxxFriendDeclarationFile"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendDeclarationFileLine">
    <xs:sequence>
      <xs:element ref="cxxFriendDeclarationFileLine"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendDefinitionFile">
    <xs:sequence>
      <xs:element ref="cxxFriendDefinitionFile"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendDefinitionFileLineStart">
    <xs:sequence>
      <xs:element ref="cxxFriendDefinitionFileLineStart"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendDefinitionFileLineEnd">
    <xs:sequence>
      <xs:element ref="cxxFriendDefinitionFileLineEnd"/>
    </xs:sequence>
  </xs:group>
  <!-- Templates -->
  <xs:group name="cxxFriendTemplateParameters">
    <xs:sequence>
      <xs:element ref="cxxFriendTemplateParameters"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendTemplateParameter">
    <xs:sequence>
      <xs:element ref="cxxFriendTemplateParameter"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriendTemplateParameterType">
    <xs:sequence>
      <xs:element ref="cxxFriendTemplateParameterType"/>
    </xs:sequence>
  </xs:group>
  <!-- ============ Hooks for shell DTD ============ -->
  <xs:group name="cxxFriend-types-default">
    <xs:sequence>
      <xs:element ref="no-topic-nesting"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxFriend-info-types">
    <xs:sequence>
      <xs:group ref="cxxFriend-types-default"/>
    </xs:sequence>
  </xs:group>
  <!-- ============ Topic specializations ============ -->
  <xs:element name="cxxFriend">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="apiName"/>
        <xs:group minOccurs="0" ref="shortdesc"/>
        <xs:group minOccurs="0" ref="prolog"/>
        <xs:group ref="cxxFriendDetail"/>
        <xs:group minOccurs="0" ref="related-links"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="cxxFriend-info-types"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:ID"/>
      <xs:attribute name="conref"/>
      <xs:attribute name="outputclass"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attributeGroup ref="arch-atts"/>
      <xs:attribute name="domains" default="(topic ui-d) (topic hi-d) (topic pr-d) (topic sw-d)                            (topic ut-d) (topic pr-d api-d) (topic pr-d api-d cxxapi-d)"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attributeGroup ref="select-atts"/>
      <xs:attribute name="class" default="- topic/topic reference/reference apiRef/apiRef apiOperation/apiOperation cxxFriend/cxxFriend "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="cxxFriendDefinition"/>
        <xs:group minOccurs="0" ref="apiDesc"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="example"/>
          <xs:group ref="section"/>
          <xs:group ref="apiImpl"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="id-atts"/>
      <xs:attribute name="translate">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/body reference/refbody apiRef/apiDetail apiOperation/apiOperationDetail cxxFriend/cxxFriendDetail "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" ref="cxxFriendStorageClassSpecifierExtern"/>
        <xs:group minOccurs="0" ref="cxxFriendStorageClassSpecifierStatic"/>
        <xs:group minOccurs="0" ref="cxxFriendStorageClassSpecifierMutable"/>
        <xs:group minOccurs="0" ref="cxxFriendExplicit"/>
        <xs:group minOccurs="0" ref="cxxFriendInline"/>
        <xs:group minOccurs="0" ref="cxxFriendVirtual"/>
        <xs:group minOccurs="0" ref="cxxFriendPureVirtual"/>
        <xs:group minOccurs="0" ref="cxxFriendConstructor"/>
        <xs:group minOccurs="0" ref="cxxFriendDestructor"/>
        <xs:group minOccurs="0" ref="cxxFriendDeclaredType"/>
        <xs:group minOccurs="0" ref="cxxFriendScopedName"/>
        <xs:group minOccurs="0" ref="cxxFriendPrototype"/>
        <xs:group minOccurs="0" ref="cxxFriendNameLookup"/>
        <xs:group minOccurs="0" ref="cxxFriendExceptionSpecification"/>
        <xs:group minOccurs="0" ref="cxxFriendReimplemented"/>
        <xs:group minOccurs="0" ref="cxxFriendTemplateParameters"/>
        <xs:group minOccurs="0" ref="cxxFriendParameters"/>
        <xs:group minOccurs="0" ref="cxxFriendReturnDesc"/>
        <xs:group minOccurs="0" ref="cxxFriendAPIItemLocation"/>
      </xs:sequence>
      <xs:attribute name="spectitle"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/section reference/section apiRef/apiDef apiOperation/apiOperationDef cxxFriend/cxxFriendDefinition "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendDeclaredType">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="apiRelation"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/ph reference/ph apiRef/apiDefItem apiOperation/apiDefItem cxxFriend/cxxFriendDeclaredType "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendReturnDesc">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="apiRelation"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/ph reference/ph apiRef/apiDefNote cxxFriend/cxxFriendReturnDesc "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendScopedName">
    <xs:complexType mixed="true">
      <xs:attribute name="href"/>
      <xs:attribute name="keyref"/>
      <xs:attribute name="type"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/keyword reference/keyword apiRef/apiItemName apiOperation/apiItemName cxxFriend/cxxFriendScopedName "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendPrototype">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/ph reference/ph apiRef/apiDefItem apiOperation/apiDefItem cxxFriend/cxxFriendPrototype "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendNameLookup">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/ph reference/ph apiRef/apiDefItem apiOperation/apiDefItem cxxFriend/cxxFriendNameLookup "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendExceptionSpecification">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="apiRelation"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/ph reference/ph apiRef/apiDefItem apiOperation/apiDefItem cxxFriend/cxxFriendExceptionSpecification "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendReimplemented">
    <xs:complexType mixed="true">
      <xs:attribute name="href"/>
      <xs:attribute name="keyref"/>
      <xs:attribute name="type"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="format"/>
      <xs:attribute name="scope">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="local"/>
            <xs:enumeration value="peer"/>
            <xs:enumeration value="external"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/xref reference/xref apiRef/apiRelation apiOperation/apiRelation cxxFriend/cxxFriendReimplemented "/>
    </xs:complexType>
  </xs:element>
  <!-- Friend Parameters -->
  <xs:element name="cxxFriendParameters">
    <xs:complexType>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="cxxFriendParameter"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/ph reference/ph apiRef/apiDefItem apiOperation/apiDefItem cxxFriend/cxxFriendParameters "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="cxxFriendParameterDeclaredType"/>
        <xs:group minOccurs="0" ref="cxxFriendParameterDeclarationName"/>
        <xs:group minOccurs="0" ref="cxxFriendParameterDefinitionName"/>
        <xs:group minOccurs="0" ref="cxxFriendParameterDefaultValue"/>
        <xs:group minOccurs="0" ref="apiDefNote"/>
      </xs:sequence>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/ph reference/ph apiRef/apiDefItem apiOperation/apiDefItem cxxFriend/cxxFriendParameter "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendParameterDeclaredType">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="apiRelation"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/ph reference/ph apiRef/apiDefItem apiOperation/apiDefItem cxxFriend/cxxFriendParameterDeclaredType "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendParameterDeclarationName">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="-  topic/keyword reference/keyword apiRef/apiItemName apiOperation/apiItemName cxxFriend/cxxFriendParameterDeclarationName "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendParameterDefinitionName">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/keyword reference/keyword apiRef/apiItemName apiOperation/apiItemName cxxFriend/cxxFriendParameterDefinitionName "/>
    </xs:complexType>
  </xs:element>
  <!-- TODO: This encloses PCDATA but linkifyTextDITA() is called. -->
  <xs:element name="cxxFriendParameterDefaultValue">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="apiRelation"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/ph reference/ph apiRef/apiData apiOperation/apiData cxxFriend/cxxFriendParameterDefaultValue "/>
    </xs:complexType>
  </xs:element>
  <!-- Storage class specifiers and other qualifiers. -->
  <xs:element name="cxxFriendStorageClassSpecifierExtern">
    <xs:complexType>
      <xs:attribute name="name" default="extern">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="extern"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" default="extern">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="extern"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/state reference/state apiRef/apiQualifier apiOperation/apiQualifier cxxFriend/cxxFriendStorageClassSpecifierExtern "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendStorageClassSpecifierStatic">
    <xs:complexType>
      <xs:attribute name="name" default="static">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="static"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" default="static">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="static"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/state reference/state apiRef/apiQualifier apiOperation/apiQualifier cxxFriend/cxxFriendStorageClassSpecifierStatic "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendStorageClassSpecifierMutable">
    <xs:complexType>
      <xs:attribute name="name" default="mutable">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="mutable"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" default="mutable">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="mutable"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/state reference/state apiRef/apiQualifier apiOperation/apiQualifier cxxFriend/cxxFriendStorageClassSpecifierMutable "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendVolatile">
    <xs:complexType>
      <xs:attribute name="name" default="volatile">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="volatile"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" default="volatile">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="volatile"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/state reference/state apiRef/apiQualifier apiOperation/apiQualifier cxxFriend/cxxFriendVolatile "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendExplicit">
    <xs:complexType>
      <xs:attribute name="name" default="explicit">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="explicit"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" default="explicit">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="explicit"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/state reference/state apiRef/apiQualifier apiOperation/apiQualifier cxxFriend/cxxFriendExplicit "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendInline">
    <xs:complexType>
      <xs:attribute name="name" default="inline">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="inline"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" default="inline">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="inline"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/state reference/state apiRef/apiQualifier apiOperation/apiQualifier cxxFriend/cxxFriendInline "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendConstructor">
    <xs:complexType>
      <xs:attribute name="name" default="constructor">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="constructor"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" default="constructor">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="constructor"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/state reference/state apiRef/apiQualifier apiOperation/apiQualifier cxxFriend/cxxFriendConstructor "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendDestructor">
    <xs:complexType>
      <xs:attribute name="name" default="destructor">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="destructor"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" default="destructor">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="destructor"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/state reference/state apiRef/apiQualifier apiOperation/apiQualifier cxxFriend/cxxFriendDestructor "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendVirtual">
    <xs:complexType>
      <xs:attribute name="name" default="virtual">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="virtual"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" default="virtual">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="virtual"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/state reference/state apiRef/apiQualifier apiOperation/apiQualifier cxxFriend/cxxFriendVirtual "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendPureVirtual">
    <xs:complexType>
      <xs:attribute name="name" default="pure virtual">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="pure virtual"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" default="pure virtual">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="pure virtual"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/state reference/state apiRef/apiQualifier apiOperation/apiQualifier cxxFriend/cxxFriendPureVirtual "/>
    </xs:complexType>
  </xs:element>
  <!-- Location information -->
  <xs:element name="cxxFriendAPIItemLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="cxxFriendDeclarationFile"/>
        <xs:group ref="cxxFriendDeclarationFileLine"/>
        <xs:group minOccurs="0" ref="cxxFriendDefinitionFile"/>
        <xs:group minOccurs="0" ref="cxxFriendDefinitionFileLineStart"/>
        <xs:group minOccurs="0" ref="cxxFriendDefinitionFileLineEnd"/>
      </xs:sequence>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/ph reference/ph apiRef/apiDefItem apiOperation/apiDefItem cxxFriend/cxxFriendAPIItemLocation "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendDeclarationFile">
    <xs:complexType>
      <xs:attribute name="name" default="filePath">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="filePath"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" use="required"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/state reference/state apiRef/apiQualifier apiOperation/apiQualifier cxxFriend/cxxFriendDeclarationFile "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendDeclarationFileLine">
    <xs:complexType>
      <xs:attribute name="name" default="lineNumber">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="lineNumber"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" use="required"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/state reference/state apiRef/apiQualifier apiOperation/apiQualifier cxxFriend/cxxFriendDeclarationFileLine "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendDefinitionFile">
    <xs:complexType>
      <xs:attribute name="name" default="filePath">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="filePath"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" use="required"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/state reference/state apiRef/apiQualifier apiOperation/apiQualifier cxxFriend/cxxFriendDefinitionFile "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendDefinitionFileLineStart">
    <xs:complexType>
      <xs:attribute name="name" default="lineNumber">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="lineNumber"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" use="required"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/state reference/state apiRef/apiQualifier apiOperation/apiQualifier cxxFriend/cxxFriendDefinitionFileLineStart "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendDefinitionFileLineEnd">
    <xs:complexType>
      <xs:attribute name="name" default="lineNumber">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="lineNumber"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" use="required"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/state reference/state apiRef/apiQualifier apiOperation/apiQualifier cxxFriend/cxxFriendDefinitionFileLineEnd "/>
    </xs:complexType>
  </xs:element>
  <!-- Templates -->
  <xs:element name="cxxFriendTemplateParameters">
    <xs:complexType>
      <xs:group maxOccurs="unbounded" ref="cxxFriendTemplateParameter"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/ph reference/ph apiRef/apiDefItem apiOperation/apiDefItem cxxFriend/cxxFriendTemplateParameters "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendTemplateParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="cxxFriendTemplateParameterType"/>
        <xs:group minOccurs="0" ref="apiDefNote"/>
      </xs:sequence>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/ph reference/ph apiRef/apiDefItem apiOperation/apiDefItem cxxFriend/cxxFriendTemplateParameter "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxFriendTemplateParameterType">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="apiRelation"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/ph reference/ph apiRef/apiDefItem apiOperation/apiDefItem cxxFriend/cxxFriendTemplateParameterType "/>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- ============ Class attributes for type ancestry ============ -->
<!-- Type information -->
<!-- Operation qualifiers -->
<!-- Location elements -->
<!-- Parameter elements -->
<!-- Templates -->
