xsd/cxxNamespace.mod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================= -->
<!-- HEADER -->
<!-- ================================================================= -->
<!-- MODULE:    C++ Namespace DTD -->
<!-- VERSION:   0.7.0 -->
<!-- DATE:      2011-02-28 -->
<!---->
<!-- ================================================================= -->
<!-- ================================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!---->
<!--
  Refer to this file by the following public identifier or an 
        appropriate system identifier 
  PUBLIC "-//NOKIA//DTD DITA C++ API Namespace Reference Type v0.7.0//EN"
        Delivered as file "cxxNamespace.dtd"
-->
<!-- ================================================================= -->
<!-- SYSTEM:     Darwin Information Typing Architecture (DITA) -->
<!---->
<!-- PURPOSE:    C++ API Reference for Namespacees -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- November 2009 -->
<!---->
<!-- Copyright (c) 2009-2011 Nokia Corporation and/or its subsidiary(-ies). -->
<!-- All rights reserved. -->
<!---->
<!-- Change History (latest at top): -->
<!-- +++++++++++++++++++++++++++++++ -->
<!-- 2011-02-28 Nokia Sysdoc Tools Team, London: Updated to version 0.7.0 -->
<!-- 2010-11-39 PaulRoss: Initial design. -->
<!---->
<!-- ================================================================= -->
<!--
  Copyright (c) 2009-2010 Nokia Corporation and/or its subsidiary(-ies).
  All rights reserved.
-->
<!-- ============ Hooks for domain extension ============ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:ditaarch="http://dita.oasis-open.org/architecture/2005/">
  <xs:import namespace="http://dita.oasis-open.org/architecture/2005/" schemaLocation="../../../schema/base/xsd/ditaarch.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="../../../schema/base/xsd/xml.xsd"/>
  <xs:group name="cxxNamespaceDetail">
    <xs:sequence>
      <xs:element ref="cxxNamespaceDetail"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxNamespaceDefinition">
    <xs:sequence>
      <xs:element ref="cxxNamespaceDefinition"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="cxxNamespaceAPIItemLocation">
    <xs:complexContent>
      <xs:extension base="cxxNamespaceAPIItemLocation.element"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:group name="cxxNamespaceDeclarationFile">
    <xs:sequence>
      <xs:element ref="cxxNamespaceDeclarationFile"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxNamespaceMembers">
    <xs:sequence>
      <xs:element ref="cxxNamespaceMembers"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="cxxNamespaceMembersDetail">
    <xs:complexContent>
      <xs:extension base="cxxNamespaceMembersDetail.element"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:group name="cxxNamespaceMemberClass">
    <xs:sequence>
      <xs:element ref="cxxNamespaceMemberClass"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxNamespaceMemberStruct">
    <xs:sequence>
      <xs:element ref="cxxNamespaceMemberStruct"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxNamespaceMemberUnion">
    <xs:sequence>
      <xs:element ref="cxxNamespaceMemberUnion"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="cxxNamespaceMemberNamespace">
    <xs:sequence>
      <xs:element ref="cxxNamespaceMemberNamespace"/>
    </xs:sequence>
  </xs:group>
  <!-- ============ Hooks for shell DTD ============ -->
  <xs:element name="cxxNamespace-types-default" abstract="true" substitutionGroup="cxxNamespace-info-types"/>
  <xs:element name="cxxNamespace-info-types" abstract="true"/>
  <!-- ============ Topic specializations ============ -->
  <!-- (%cxxNamespace-info-types;)* -->
  <xs:element name="cxxNamespace">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="apiName"/>
        <xs:group minOccurs="0" ref="shortdesc"/>
        <xs:group minOccurs="0" ref="prolog"/>
        <xs:group ref="cxxNamespaceDetail"/>
        <xs:group minOccurs="0" ref="related-links"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="cxxNamespace-info-types"/>
        <xs:group minOccurs="0" ref="cxxNamespaceMembers"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:ID"/>
      <xs:attribute name="conref"/>
      <xs:attribute name="outputclass"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attributeGroup ref="arch-atts"/>
      <xs:attribute name="domains" default="(topic ui-d) (topic hi-d) (topic pr-d) (topic sw-d)                            (topic ut-d) (topic pr-d api-d) (topic pr-d api-d cxxapi-d)"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/topic reference/reference apiRef/apiRef apiClassifier/apiClassifier cxxNamespace/cxxNamespace "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxNamespaceDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" ref="cxxNamespaceDefinition"/>
        <xs:group minOccurs="0" ref="apiDesc"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="example"/>
          <xs:group ref="section"/>
          <xs:group ref="apiImpl"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="id-atts"/>
      <xs:attribute name="translate">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/body reference/refbody apiRef/apiDetail apiClassifier/apiClassifierDetail cxxNamespace/cxxNamespaceDetail "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxNamespaceDefinition">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="cxxNamespaceAPIItemLocation">
          <xs:attribute name="spectitle"/>
          <xs:attributeGroup ref="univ-atts"/>
          <xs:attribute name="outputclass"/>
          <xs:attributeGroup ref="global-atts"/>
          <xs:attribute name="class" default="- topic/section reference/section apiRef/apiDef apiClassifier/apiClassifierDef cxxNamespace/cxxNamespaceDefinition "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!-- Location -->
  <xs:complexType name="cxxNamespaceAPIItemLocation.element">
    <xs:sequence>
      <xs:element ref="cxxNamespaceAPIItemLocation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cxxNamespaceAPIItemLocation">
    <xs:complexType>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="cxxNamespaceDeclarationFile"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/ph reference/ph apiRef/apiDefItem apiClassifier/apiDefItem cxxNamespace/cxxNamespaceAPIItemLocation "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxNamespaceDeclarationFile">
    <xs:complexType>
      <xs:attribute name="name" default="filePath">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="filePath"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" use="required"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/state reference/state apiRef/apiQualifier apiClassifier/apiQualifier cxxNamespace/cxxNamespaceDeclarationFile "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxNamespaceMembers">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="cxxNamespaceMembersDetail">
          <xs:attributeGroup ref="univ-atts"/>
          <xs:attribute name="outputclass"/>
          <xs:attribute name="domains" default="(topic ui-d) (topic hi-d) (topic pr-d) (topic sw-d)                            (topic ut-d) (topic pr-d api-d) (topic pr-d api-d cxxapi-d)"/>
          <xs:attributeGroup ref="global-atts"/>
          <xs:attribute name="class" default="- topic/topic reference/reference apiRef/apiRef apiClassifier/apiClassifier cxxNamespace/cxxNamespaceMembers "/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="cxxNamespaceMembersDetail.element">
    <xs:sequence>
      <xs:element ref="cxxNamespaceMembersDetail"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cxxNamespaceMembersDetail">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:group ref="cxxNamespaceMemberClass"/>
        <xs:group ref="cxxNamespaceMemberStruct"/>
        <xs:group ref="cxxNamespaceMemberUnion"/>
        <xs:group ref="cxxNamespaceMemberNamespace"/>
        <xs:element ref="xref"/>
      </xs:choice>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="outputclass"/>
      <xs:attribute name="domains" default="(topic ui-d) (topic hi-d) (topic pr-d) (topic sw-d)                            (topic ut-d) (topic pr-d api-d) (topic pr-d api-d cxxapi-d)"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/body reference/refbody apiRef/apiDetail apiClassifier/apiDetail cxxNamespace/cxxNamespaceMembersDetail "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxNamespaceMemberClass">
    <xs:complexType mixed="true">
      <xs:attribute name="href"/>
      <xs:attribute name="keyref"/>
      <xs:attribute name="type"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="format"/>
      <xs:attribute name="scope">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="local"/>
            <xs:enumeration value="peer"/>
            <xs:enumeration value="external"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/xref reference/xref apiRef/apiRelation apiClassifier/apiRelation cxxNamespace/cxxNamespaceMemberClass "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxNamespaceMemberStruct">
    <xs:complexType mixed="true">
      <xs:attribute name="href"/>
      <xs:attribute name="keyref"/>
      <xs:attribute name="type"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="format"/>
      <xs:attribute name="scope">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="local"/>
            <xs:enumeration value="peer"/>
            <xs:enumeration value="external"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/xref reference/xref apiRef/apiRelation apiClassifier/apiRelation cxxNamespace/cxxNamespaceMemberStruct "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxNamespaceMemberUnion">
    <xs:complexType mixed="true">
      <xs:attribute name="href"/>
      <xs:attribute name="keyref"/>
      <xs:attribute name="type"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="format"/>
      <xs:attribute name="scope">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="local"/>
            <xs:enumeration value="peer"/>
            <xs:enumeration value="external"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/xref reference/xref apiRef/apiRelation apiClassifier/apiRelation cxxNamespace/cxxNamespaceMemberUnion "/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cxxNamespaceMemberNamespace">
    <xs:complexType mixed="true">
      <xs:attribute name="href"/>
      <xs:attribute name="keyref"/>
      <xs:attribute name="type"/>
      <xs:attributeGroup ref="univ-atts"/>
      <xs:attribute name="format"/>
      <xs:attribute name="scope">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="local"/>
            <xs:enumeration value="peer"/>
            <xs:enumeration value="external"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="outputclass"/>
      <xs:attributeGroup ref="global-atts"/>
      <xs:attribute name="class" default="- topic/xref reference/xref apiRef/apiRelation apiClassifier/apiRelation cxxNamespace/cxxNamespaceMemberNamespace "/>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- ============ Class attributes for type ancestry ============ -->
<!-- Location elements -->
<!-- Member references to topics -->
